@font-face 
font-family: "iconfont"//记住这里的操作配置
src: url('../fonts/iconfont.eot?t=1553932215336') /* IE9 */
src: url('../fonts/iconfont.eot?t=1553932215336#iefix') format('embedded-opentype')
    url('../fonts/iconfont.ttf?t=1553932215336') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../fonts/iconfont.svg?t=1553932215336#iconfont') format('svg') /* iOS 4.1- */


.iconfont 
  font-family: "iconfont" !important
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-icon35:before 
  content: "\e62a"


.icon-nianling:before 
  content: "\e7ba"


.icon-chahao:before 
  content: "\e604"


.icon-jiantouzuo:before 
  content: "\e659"


.icon-jiantouyou:before 
  content: "\e61f"


.icon-github:before 
  content: "\e600"


.icon-shanchu-tianchong:before 
  content: "\e664"


.icon-xiayishou:before 
  content: "\e624"


.icon-zanting:before 
  content: "\e627"


.icon-bofang:before 
  content: "\e628"


.icon-man:before 
  content: "\e7e2"


.icon-Customerservice:before 
  content: "\e652"


.icon-dizhi_:before 
  content: "\e61e"


.icon-phone_:before 
  content: "\e631"


.icon-dizhi_1:before 
  content: "\e635"


.icon-person:before 
  content: "\e660"


.icon-Squat:before 
  content: "\e663"


.icon-Magnifier:before 
  content: "\e67b"


.icon-more_:before 
  content: "\e681"


.icon-xueli:before 
  content: "\e611"


.icon-weixin_:before 
  content: "\e66a"


.icon-youxiang_:before 
  content: "\e66b"



